@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="card shadow p-4" style="width: 400px;">
    <h4 class="text-center mb-3">Upload a File</h4>
    <form action="/File/Create" method="post" enctype="multipart/form-data">
        <!-- File Input -->
        <div class="mb-3">
            <label for="file" class="form-label">Choose file:</label>
            <input type="file" class="form-control" name="fileUploadedByUser" id="file" required>
        </div>

        <!-- Email Recipients Input -->
        <div class="mb-3">
            <label for="recipients" class="form-label">Type user emails to grant access to:</label>
            <input type="text" class="form-control" name="recipients" id="recipients" placeholder="Enter emails separated by commas">
        </div>

        <!-- Upload Button -->
        <button type="submit" class="btn btn-primary w-100">Upload</button>
    </form>
</div>